[project]
	description = Training Objective-C
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Typoon (apisdk)
[access "refs/for/refs/*"]
	read = group user/Typoon (apisdk)
	push = group user/Typoon (apisdk)
	label-Code-Review = -2..+2 group user/Typoon (apisdk)
	label-Verified = -1..+1 group user/Typoon (apisdk)
	rebase = group user/Typoon (apisdk)
	removeReviewer = group user/Typoon (apisdk)
	submit = group user/Typoon (apisdk)
[access "refs/heads/*"]
	read = group user/Typoon (apisdk)
	create = group user/Typoon (apisdk)
	push = +force group user/Typoon (apisdk)
	pushMerge = group user/Typoon (apisdk)
[access "refs/tags/*"]
	push = +force group user/Typoon (apisdk)
	pushTag = group user/Typoon (apisdk)
	pushSignedTag = group user/Typoon (apisdk)
